@import url("https://fonts.googleapis.com/css2?family=Tinos:wght@400;700&display=swap");

@page {
    margin: 0.4in 0.5in;
    size: letter;
}

body {
    font-family:
        Tinos,
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Robotom,
        "Helvetica Neue",
        sans-serif;
    font-size: 14px;
    font-weight: 400;
}

h1, h2, h3, h4, p, a, li {
    color: black;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 32px;
    margin: 0;
    padding: 0;
    margin-bottom: 2px;
}

h2 {
    margin: 16px 0 12px 0;
    border-bottom: 1px solid #000000;
    text-transform: uppercase;
    font-size: 16px;
    padding: 0;
}

h3 {
    margin: 6px 0;
    display: flex;
    font-size: 15px;
    padding: 0;
    justify-content: space-between;
}

h3 span {
    font-weight: normal;
}

h4 {
    margin: 2px 0;
    display: flex;
    font-size: 14px;
    font-style: italic;
    font-weight: normal;
    padding: 0;
    justify-content: space-between;
}

h3 > span:last-child,
h4 > span:last-child {
    white-space: nowrap;
}

p {
    margin: 0;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 0;
    display: flex;
}

li > p {
    display: inline;
}

a {
    color: black;
}

ul {
    margin: 4px 0;
    padding-left: 24px;
    padding-right: 24px;
}

strong, em, a {
    padding-left: 1px;
    padding-right: 2px;
}

hr {
    /* used as spacer */
    visibility: hidden;
}

/* Contact */
.contact {
    margin-bottom: 16px;
}
.contact > ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.contact > ul > li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.contact > ul > li::before {
    content: none;
}
.contact > ul > li:nth-child(1),
.contact > ul > li:nth-child(2) {
    flex: 0 0 100%;
    text-align: center;
}
.contact > ul > li:nth-child(3),
.contact > ul > li:nth-child(4) {
    white-space: pre;
}
.contact > ul > li:nth-child(3)::after {
    content: "|";
    margin: 0 6px;
}
