.backgroundMask {
    opacity: 1;
    /* transition: opacity 0.2s ease-in-out; */

    --mask-fade-end: 28%;
    --mask-solid-end: 19%;

    mask-image: linear-gradient(
        to top,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 1) var(--mask-solid-end),
        rgba(0, 0, 0, 0) var(--mask-fade-end),
        rgba(0, 0, 0, 0) 100%
    );
    -webkit-mask-image: linear-gradient(
        to top,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 1) var(--mask-solid-end),
        rgba(0, 0, 0, 0) var(--mask-fade-end),
        rgba(0, 0, 0, 0) 100%
    );
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-size: 100% 100%;
    -webkit-mask-size: 100% 100%;
}

.hidden {
    opacity: 0;
}
