@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap");

@import "tailwindcss";
@import "./styles/hit-area.css";
@import "./styles/monaco-editor.css";

body {
    color: var(--ios-label-primary);
    font-family: "Inter", system-ui, sans-serif;
}

@theme {
    --font-mono:
        "Geist Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

    --color-scheme: light dark;

    /* Animations */
    --animate-fade-in: fade-in 200ms ease-out both;

    /* System Colors */
    --color-red: var(--ios-red);
    --color-orange: var(--ios-orange);
    --color-yellow: var(--ios-yellow);
    --color-green: var(--ios-green);
    --color-mint: var(--ios-mint);
    --color-teal: var(--ios-teal);
    --color-cyan: var(--ios-cyan);
    --color-blue: var(--ios-blue);
    --color-indigo: var(--ios-indigo);
    --color-purple: var(--ios-purple);
    --color-pink: var(--ios-pink);
    --color-brown: var(--ios-brown);

    /* Grays */
    --color-gray-1: var(--ios-gray-1);
    --color-gray-2: var(--ios-gray-2);
    --color-gray-3: var(--ios-gray-3);
    --color-gray-4: var(--ios-gray-4);
    --color-gray-5: var(--ios-gray-5);
    --color-gray-6: var(--ios-gray-6);
    --color-black: var(--ios-black);
    --color-white: var(--ios-white);

    /* Backgrounds (Base) */
    --color-system-primary: var(--macos-bg-primary);
    --color-system-secondary: var(--macos-bg-secondary);
    --color-system-tertiary: var(--macos-bg-tertiary);

    /* Backgrounds (Grouped) */
    --color-system-grouped-primary: var(--macos-bg-grouped-primary);
    --color-system-grouped-secondary: var(--macos-bg-grouped-secondary);
    --color-system-grouped-tertiary: var(--macos-bg-grouped-tertiary);

    /* Labels (Text Colors) */
    --color-label-primary: var(--ios-label-primary);
    --color-label-secondary: var(--ios-label-secondary);
    --color-label-tertiary: var(--ios-label-tertiary);
    --color-label-quaternary: var(--ios-label-quaternary);

    /* Fills (UI Elements) */
    --color-fill-primary: var(--ios-fill-primary);
    --color-fill-secondary: var(--ios-fill-secondary);
    --color-fill-tertiary: var(--ios-fill-tertiary);
    --color-fill-quaternary: var(--ios-fill-quaternary);

    /* Separators */
    --color-separator: var(--ios-separator);
    --color-separator-opaque: var(--ios-separator-opaque);

    /* Shadows */
    --shadow-primary: var(--shadow-primary);
    --shadow-secondary: var(--shadow-secondary);
    --shadow-tertiary: var(--shadow-tertiary);
    --shadow-proeminent: var(--shadow-proeminent);
    --shadow-proeminent2:
        inset 0 -1px 2px 0 rgba(255, 255, 255, 0.5), inset 0 1px 2px 0 rgba(0, 0, 0, 0.3),
        inset 0 0 0 1px rgba(255, 255, 255, 0.8), 0 0 0 0 rgba(0, 0, 0, 0.1);
}

:root {
    /* System Colors */
    --ios-red: #ff383c;
    --ios-orange: #ff8d28;
    --ios-yellow: #ffcc00;
    --ios-green: #34c759;
    --ios-mint: #00c8b3;
    --ios-teal: #00c3d0;
    --ios-cyan: #00c0e8;
    --ios-blue: #0088ff;
    --ios-indigo: #6155f5;
    --ios-purple: #cb30e0;
    --ios-pink: #ff2d55;
    --ios-brown: #ac7f5e;

    /* Grays */
    --ios-gray-1: #8e8e93;
    --ios-gray-2: #aeaeb2;
    --ios-gray-3: #c7c7cc;
    --ios-gray-4: #d1d1d6;
    --ios-gray-5: #e5e5ea;
    --ios-gray-6: #f0f0f0;
    --ios-black: #000000;
    --ios-white: #ffffff;

    /* Backgrounds */
    --macos-bg-primary: #ffffff;
    --macos-bg-secondary: #fff;
    --macos-bg-tertiary: #efeff0;

    /* Backgrounds Grouped */
    --macos-bg-grouped-primary: #f0f0f0;
    --macos-bg-grouped-secondary: #ffffff;
    --macos-bg-grouped-tertiary: #f0f0f0;

    /* Labels */
    --ios-label-primary: #000000;
    --ios-label-secondary: rgba(60, 60, 67, 0.7);
    --ios-label-tertiary: rgba(60, 60, 67, 0.3);
    --ios-label-quaternary: rgba(60, 60, 67, 0.18);

    /* Fills */ /* TODO: Not so transparent */
    --ios-fill-primary: rgba(120, 120, 120, 0.2);
    --ios-fill-secondary: rgba(120, 120, 128, 0.16);
    --ios-fill-tertiary: rgba(118, 118, 128, 0.12);
    --ios-fill-quaternary: rgba(116, 116, 128, 0.08);

    /* Separators */
    --ios-separator: rgba(0, 0, 0, 0.12);
    --ios-separator-opaque: #c6c6c8;

    /* Shadows */
    --shadow-primary: 0 0 0 1px rgba(0, 0, 0, 0.06), 0 0 20px -1px rgba(0, 0, 0, 0.08);
    --shadow-secondary: 0 0 0 1px rgba(0, 0, 0, 0.06), 0 0 20px -1px rgba(0, 0, 0, 0.08);
    --shadow-tertiary: 0 0 0.5px 0.5px rgba(0, 0, 0, 0.1), 0 1px 15px -2px rgba(0, 0, 0, 0.12);
    --shadow-proeminent: inset 0 1px 0 0 white, 0 0 0 1px rgba(0, 0, 0, 0.12);
}

@media (prefers-color-scheme: dark) {
    :root {
        /* System Colors */
        /* --ios-red: #ff4245; */
        --ios-red: #ff5257;
        --ios-orange: #ff9230;
        --ios-yellow: #ffd600;
        --ios-green: #30d158;
        --ios-mint: #00dac3;
        --ios-teal: #00d2e0;
        --ios-cyan: #3cd3fe;
        --ios-blue: #0091ff;
        --ios-indigo: #6b5dff;
        --ios-purple: #db34f2;
        --ios-pink: #ff375f;
        --ios-brown: #b78a66;

        /* Grays */
        --ios-gray-1: #8e8e93;
        --ios-gray-2: #636366;
        --ios-gray-3: #48484a;
        --ios-gray-4: #3a3a3c;
        --ios-gray-5: #2c2c2e;
        --ios-gray-6: #1e1e1e;
        --ios-black: #000000;
        --ios-white: #ffffff;

        /* Backgrounds */
        /* --macos-bg-primary: #000000;
        --macos-bg-secondary: #1c1c1e;
        --macos-bg-tertiary: #2c2c2e; */
        --macos-bg-primary: #1c1c1e;
        --macos-bg-secondary: #2c2c2e;
        --macos-bg-tertiary: #3a3a3c;
        /* --macos-bg-primary: #1c1c1c;
        --macos-bg-secondary: #2c2c2c;
        --macos-bg-tertiary: #3a3a3a; */

        /* Backgrounds Grouped */
        --macos-bg-grouped-primary: #161616;
        --macos-bg-grouped-secondary: #1e1e1e;
        --macos-bg-grouped-tertiary: #262626;

        /* Labels */
        --ios-label-primary: #ffffff;
        --ios-label-secondary: rgba(255, 255, 255, 0.65);
        --ios-label-tertiary: rgba(255, 255, 255, 0.4);
        --ios-label-quaternary: rgba(255, 255, 255, 0.2);

        /* Fills */
        --ios-fill-primary: rgba(255, 255, 255, 0.1);
        --ios-fill-secondary: rgba(255, 255, 255, 0.08);
        --ios-fill-tertiary: rgba(255, 255, 255, 0.05);
        --ios-fill-quaternary: rgba(255, 255, 255, 0.03);

        /* Separators */
        --ios-separator: rgba(255, 255, 255, 0.17);
        --ios-separator-opaque: #38383a;

        /* Shadows */
        --shadow-primary: 0 0 0 1px rgba(255, 255, 255, 0.17);
        --shadow-secondary: 0 0 0 1px rgba(255, 255, 255, 0.08);
        --shadow-tertiary: 0 0 0 1px rgba(255, 255, 255, 0.08);
        --shadow-proeminent: inset 0 1px 1px 0 rgba(255, 255, 255, 0.26), inset 0 0 0 1px rgba(255, 255, 255, 0.07);
    }
}

/* GLOBAL STYLES */

*:focus,
*:focus-visible {
    outline-color: var(--ios-blue);
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: not-allowed;
    pointer-events: auto;
}

/* ANIMATIONS */

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* CUSTOM STYLES */

.proeminent-button {
    background: linear-gradient(175deg, #eeeeee 0%, #ffffff 100%);
    box-shadow: var(--shadow-proeminent);
    outline-offset: 2px;
}
@media (prefers-color-scheme: dark) {
    .proeminent-button {
        /* background: linear-gradient(180deg, rgba(40, 40, 40, 0.75) 0%, rgba(20, 20, 20, 0.75) 50%, rgba(30, 30, 30, 0.75) 100%); */
        background: rgba(35, 35, 35, 0.95) 0%;
        backdrop-filter: blur(20px);
        box-shadow: var(--shadow-proeminent);
    }
}

.button-blue {
    /* background-image: linear-gradient(#77adf5, #598fef); */
    background-image: linear-gradient(#48a0ff, #0b7dff);
    border: 1px solid #0077cc;
    box-shadow: inset 0 1.5px 0 -0.25px rgba(255, 255, 255, 0.4);
    /* inset 0 -2px 0 -0.25px rgba(255, 255, 255, 0.1); */

    box-sizing: border-box;
    color: #ffffff;
}
.button-blue:active,
.button-blue.expanded-active[data-expanded] {
    background-image: linear-gradient(#2b8fff, #0b7dff);
    box-shadow: inset 0 1.5px 0 -0.25px rgba(255, 255, 255, 0.2);
    /* border-color: #1482d0; */
    outline: none;
}
.button-blue:focus-visible {
    /* box-shadow: rgba(131, 192, 253, 0.5) 0 0 0 3px; */
    /* outline: none; */
    outline-style: solid;
    outline-width: 2px;
    outline-offset: 3px;
}

.button-green {
    background-image: linear-gradient(#34c759, #28a745);
    border: 1px solid #28a745;
    box-shadow: inset 0 1.5px 0 -0.25px rgba(255, 255, 255, 0.4);
    box-sizing: border-box;
    color: #ffffff;
}
.button-green:active {
    background-image: linear-gradient(#2bb44d, #28a745);
    box-shadow: inset 0 1.5px 0 -0.25px rgba(255, 255, 255, 0.2);
    outline: none;
}
.button-green:disabled {
    background-image: linear-gradient(#a8a8ab, #8e8e93);
    border-color: #7b7b80;
    box-shadow: inset 0 1.5px 0 -0.25px rgba(255, 255, 255, 0.2);
    color: #f5f5f7;
}
.button-green:focus-visible {
    outline-style: solid;
    outline-width: 2px;
    outline-offset: 3px;
}

.button-red {
    background-image: linear-gradient(#ff3b30, #d32f2f);
    border: 1px solid #d32f2f;
    box-shadow: inset 0 1.5px 0 -0.25px rgba(255, 255, 255, 0.4);
    box-sizing: border-box;
    color: #ffffff;
}
.button-red:active {
    background-image: linear-gradient(#e53935, #d32f2f);
    box-shadow: inset 0 1.5px 0 -0.25px rgba(255, 255, 255, 0.2);
    outline: none;
}
.button-red:disabled {
    background-image: linear-gradient(#a8a8ab, #8e8e93);
    border-color: #7b7b80;
    box-shadow: inset 0 1.5px 0 -0.25px rgba(255, 255, 255, 0.2);
    color: #f5f5f7;
}
.button-red:focus-visible {
    outline-style: solid;
    outline-width: 2px;
    outline-offset: 3px;
}
